body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
fieldset {
    border: 2px solid green;  
    background-color: #e0f2e0; 
}

legend {
    color: white;  
    background-color: green;  
}
